/* google font  */
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap");
body {
  font-family: "Merriweather", serif;
}

/* navbar  */
.header {
  position: relative;
}
.nav-menu {
  background: transparent;
  position: absolute;
  top: 0;
  right: 80px;
}
.menu-item {
  display: inline-block;
  color: #3c3c3c !important;
  font-size: 18px;
  font-weight: 300;
  padding: 5px 20px;
  margin: 0 10px;
}
.menu-item:hover {
  border-bottom: 1px solid #0a3d62;
  color: #0a3d62 !important;
}

/* hero-section */
.hero-section {
  background: url(../assets/img/hero01.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 250px;
  padding-bottom: 250px;
  /* margin-top: -80px; */
}
.section-title {
  font-size: 1.8rem;
  font-weight: 300;
  text-align: center;
}

.divider {
  width: 50%;
}

/* category-section */
.category-section {
  background: url(../assets/yellow-bg.png);
}

.single-category img {
  width: 50px;
}
.cate-text {
  font-size: 16px;
  font-weight: 300;
}

/* specials-section */
.specials-section .divider {
  width: 20%;
}

/* .special-img {
  width: 200px;
} */
.special-detail {
  background: #f8f8f8;
  padding: 20px;
  text-align: center;
  transition: 0.5s;
}
.item-img {
  position: relative;
  transition: 0.5s;
}
.item-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(246, 200, 16, 0.3);
  opacity: 0;
}
.single-item:hover .item-img::before {
  opacity: 1;
}
.single-item:hover .special-detail {
  background: #f6c710;
}

.sp-title {
  color: #222f3e;
  font-weight: 700;
  position: relative;
  margin-bottom: 20px;
}
.sp-title::after {
  content: "";
  position: absolute;
  display: block;
  bottom: -0.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 45%;
  height: 2px;
  background-color: #222f3e;
}

.spe-des {
  font-size: 14px;
  font-weight: 300;
}
